# General
bin
tmp

# Play
RUNNING_PID
logs

# SBT Builds
project/target
project/project
dist
target
*/logs
*/dist
*/target

# JavaScript Build
public/css
public/coffee
public/js

# Grunt
.grunt
node_modules

# Bower
bower_components

# Jasmine
_SpecRunner.html

# Sass
.sass-cache

# IDE project files
.idea
.idea_modules
.cache
.classpath
.project
.boot
.target

