# General
bin
tmp
*.swp

# Play
RUNNING_PID
logs

# SBT Builds
activator-*-shim.sbt
project/target
project/activator-*-shim.sbt
project/project
dist
target
*/logs
*/dist
*/target

# JavaScript Build
public/css
public/js
public/**/*.gz

# TypeScript
*.html.ts
tscommand.tmp.txt
src/main/js
src/main/typescript/**/*.js
src/main/typescript/**/*.js.map

# Grunt
.grunt
node_modules

# Bower
bower_components

# Jasmine
_SpecRunner.html

# Sass
.sass-cache

# IDE project files
*.iml
.idea
.idea_modules
.cache
.classpath
.project
.boot
.target
*sublime*

