<h1>Welcome to AngularTS</h1>

<p>Checkout this <a href="#/tasks">simple TODO app</a>!</p>

<div ng-controller="CreateUserCtrl">
    <form>
        <label for="email">Email:</label><input id="email" type="email" ng-model="user.email">
        <label for="username">Username:</label><input id="username" type="text" ng-model="user.username">
        <label for="firstName">First Name:</label><input id="firstName" type="text" ng-model="user.firstName">
        <label for="lastName">Last Name:</label><input id="lastName" type="text" ng-model="user.lastName">
        <button ng-click="reset()">Clear</button>
        <button ng-click="createUser(user)">Continue</button>
    </form>
    <pre>form = {{user | json}}</pre>
    <pre>result = {{result | json}}</pre>
</div>

<p>
    <a href="#/login">Login with Github</a>
</p>
