<section class="tasklist__frame">
    <div class="tasklist__tab">
        <h1>{{ tasklist.name }}</h1>
    </div>

    <div class="tasklist__body">
        <header class="tasklist__actions">
            <form class="tasklist__create">
                <label for="newTaskDescription">Task:</label>
                <input id="newTaskDescription" ng-model="taskForm.description" placeholder="A task is a single action that has a definition of done"/>
                <button id="createNewTask" ng-click="createTask(taskForm)">Add</button>
            </form>
        </header>

        <ul class="tasklist__list">
            <li ng-repeat="task in tasks | filter: filterCompleted">
                <input id="{{ task.id }}" type="checkbox"
                       ng-model="task.completed"/>
                <label for="{{ task.id }}">{{ task.description }}</label>
            </li>
        </ul>

        <footer class="tasklist__options">
            <input id="showInactive" type="checkbox" ng-model="showCompleted"/>
            <label for="showInactive">Show completed tasks</label>
        </footer>
    </div>
</section>