
<div id="todos" ng-hide="disabled.todos" class="span3">
  <ul>
    <li ng-repeat="todo in todos">
      <h3>{{ todo.summary }}</h3>
    </li>
  </ul>
</div>

<div id="routines" ng-hide="disabled.routines" class="span3">
  <ul>
    <li ng-repeat="routine in routines" draggable="true">
      <h3>{{ event.summary }}</h3>
      <p>{{ event.description }}</p>
    </li>
  </ul>
</div>

<div id="habits" ng-hide="disabled.habits" class="span3">
  <ul>
    <li ng-repeat="habit in habits" draggable="true">
      <h3>{{ habit.summary }}</h3>
      <p>{{ habit.description }}</p>
    </li>
  </ul>
</div>

 <div id="rewards" ng-hide="disabled.rewards" class="span3">
   <ul>
     <li ng-repeat="reward in rewards" draggable="true">
       <h3>{{ reward.summary }}</h3>
       <p>{{ reward.description }}</p>
     </li>
   </ul>
 </div>
